<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> {% block stylesheets %}{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>


	<body>

		<div id="main-container">
			<nav class="navbar">
				<a href="{{ path('app_main') }}" id="logo">
					<img src="/img/logo_portfolio.png" alt="Logo"/>
				</a>
				<ul id="main-menu">
					<li>
						<a href="{{ path('app_project') }}">
							Projets
						</a>
					</li>
					<li>
						<a href="">
							blog
						</a>
					</li>
				</ul>
			</nav>
			<main>


				{% block body %}{% endblock %}
			</main>
		</body>
		<footer class="footer">
			<small>
				Tous les droits sont réservés (2025)
			</small>
		</footer>

	</body>
</html></body></body></html>
