{% extends 'base.html.twig' %}

{% block title %}Projet
{% endblock %}

{% block body %}
	<header>
		<div id="current-user"></div>
		<div id="title-page">
			<div class="flex-header">
				<h1>{{ project.title }}</h1>

				<a class="button" href="{{ path('app_project_edit',{id: project.id}) }}">
					Modifier</a>
			</div>
		</div>
	</header>


{% endblock %}
